/* ———————————— 1200px+ — desktops ———————————— */
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
  .fav-card:hover .delete-btn {
    display: flex;
  }
}

/* ———————————— 1024–1200px — desktops ———————————— */
@media (max-width: 1199px) and (min-width: 1024px) {
  html {
    font-size: 24px;
  }
  .fav-card:hover .delete-btn {
    display: flex;
  }
}

/* ———————————— 768–1023px — tablets ———————————— */
@media (max-width: 1023px) and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  .fav-card:hover .delete-btn {
    display: flex;
  }
}

/* ———————————— 360–767px — large phones / small tablets ———————————— */
@media (max-width: 767px) and (min-width: 360px) {
  html {
    font-size: 17px;
  }
  .primary-btn {
    width: 100%;
  }
  .favorite-section {
    padding-top: 2rem;
  }

  .cards-wrapper {
    display: flex;
    flex-direction: column;
  }

  .fav-card {
    width: 100%;
    min-height: 8rem;
  }

  .delete-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    width: 4rem;
    height: 100%;
    border-radius: 0.5rem;
    cursor: pointer;
    background: rgba(32, 32, 32, 0.6);
  }

  .fav-card-quote {
    padding-right: 4rem;
  }

  .delete-icon {
    stroke: rgb(158, 158, 158);
  }
}
